<div id="header">
    <nav>
        <ul>
            <li>
                <a ui-sref='app.home'>LOGO</a>
            </li>
            <li>
                <a ui-sref='app.home'>Home</a>
            </li>
            <li>
                <a ui-sref='app.list'>Journal Log</a>
            </li>
        </ul>
    </nav>
</div>



<div class='row'>

    <div class='col-sm-2 sidebar'>
        <h1 class='text-center'>Entries</h1>
        <ul ng-repeat='entry in rootCtrl.entries'>
            <li>

                <span> {{ entry.date }}</span>
            </li>
        </ul>
    </div>
    <div class='col-sm-10'>
        <div ui-view='content'></div>

    </div>
</div>
<div class='row'>

    <div class='col-sm-12 footer'>
        <h1>Footer</h1>
    </div>
</div>