<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="rootCtrl.closeNav()">&times;</a>
    <a ui-sref="app.home" ng-click="rootCtrl.closeNav()">Home/Add</a>
    <a ui-sref="app.list" ng-click="rootCtrl.closeNav()">Journal Posts</a>
</div>

<!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">


    <div id="navbar">
        <nav>
            <ul>

                <a ng-click='rootCtrl.openNav()'>
                    <i class='fa fa-navicon'></i>
                </a>
                
                <li>
                    <a ui-sref='app.home'>Home</a>
                </li>
                <li>
                    <a ui-sref='app.list'>Journal Log</a>
                </li>

            </ul>
        </nav>
    </div>


    <div class='col-sm-12' id='content'>
        <div ui-view='content'></div>

    </div>
</div>