
<div class='list-container text-center col-sm-6 col-sm-offset-3'>
    <h1>Journal Entires</h1>
    <div ng-repeat="entry in listCtrl.entries">
        <div ng-click='toggle = !toggle' class='list-item'>
            <div class='title'>{{ entry.title }}</div>
            <div class='entry' ng-hide='!toggle'>
                <div class='date'><i class='fa fa-calendar-o'></i> {{ entry.date | date:'MMMM dd, yyyy' }}</div>
                <div class='notes'>{{ entry.notes }}</div>
                <div class='category'>Category: {{ entry.category }}</div>
                <div class='privacy'>Privacy: {{ entry.privacy }}</div>
                <div class='buttons'>
                    <a class='btn btn-info btn-xs' ui-sref='app.home.edit({id:entry._id})' >
                        <span class="fa fa-edit"></span>
                    </a>
                    <a href="#" ng-click='listCtrl.delete(entry)' class="btn btn-danger btn-xs">
                        <span class="fa fa-remove"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>